// @import '../assets/variables';

// .mission {
//     color: $missionColor;
//     margin: 5px 5px;
// }

.title_exp {
    margin-top: 30px;
}

.ent {
    font-style: italic;
}

.mission, .description {
    margin-left: 30px
}

.title_pro {
    margin-top: 20px;
}
