.logobarby {
    width :3em;
}

.navbar {
    background-color: rgb(214, 189, 236);
}

h2 {
  font-family: 'ZCOOL XiaoWei', serif;
}

header {
    background:url('https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') center center;
    background-size :cover;
    background-attachment: fixed;
    color : white;
    filter: grayscale(100%);
    height: 500px;
}
